<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Waltham Forum</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/generalStyle.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Waltham Forum</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="w3-button w3-white w3-round-xxlarge">Home</span>
			</a>
			<a href="/houseForRent">
				<span class="w3-button w3-white w3-round-xxlarge">House For Rent</span>
			</a>
			<a href="/restaurant">
				<span class="w3-button w3-white w3-round-xxlarge">Restaurant Open Now</span>
			</a>
			<a href="/covid19/html">
				<span class="w3-button w3-white w3-round-xxlarge">Covid-19 Latest Updates</span>
			</a>

			<% if (!loggedIn) {%>
				<a href="/auth/google">
					<span class="w3-button w3-white w3-round-xxlarge">Login</span>
				</a>
				<% } else  { %>
					<%= user.googleemail %>
				<a href="/logout">
					<span class="w3-button w3-white w3-round-xxlarge">Logout</span>
				</a>
				<% } %>
		</div>
	</div>

	<%- body %>

</body>

</html>
